<h1>______FORMULARIO REACTIVO (con enrutado)________</h1>
<button routerLink="desplegarFormulario">Desplegar formulario</button>
<p>
  <router-outlet></router-outlet>
</p>
<!------------------------------------------------------>
<h1>__________________DIRECTIVA IF____________________</h1>
<app-directiva-if></app-directiva-if>
<!------------------------------------------------------>
<h1>__________________DIRECTIVA FOR___________________</h1>
<app-directiva-for></app-directiva-for>
<!------------------------------------------------------>
<h1>_______________DIRECTIVA SWITCH__________________</h1>
<app-directiva-switch></app-directiva-switch>
<!------------------------------------------------------>
<h1>_________ENLAZADO PROPIEDADES____________</h1>
<app-enlazado-propiedades></app-enlazado-propiedades>
<!------------------------------------------------------>
<h1>____________ENLAZADO EVENTOS_____________</h1>
<app-enlazado-eventos></app-enlazado-eventos>
<!------------------------------------------------------>
<h1>________ENLAZADO BIDIRECCIONAL___________</h1>
<app-enlazado-bidireccional></app-enlazado-bidireccional>
<!------------------------------------------------------>
<h1>____COMUNICACIÓN NAI/FILLA - FILLA/NAI_________</h1>
<app-nai-component></app-nai-component>
<app-cabecera></app-cabecera>